#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	@# Vendor packages must be populated already.
	@# Set GOCACHE because Launchpad has unwritable $HOME
	make mos GOCACHE=/tmp/gocache

override_dh_auto_test:
	@true
