#!/usr/bin/make -f

export DH_GOPKG := github.com/mongoose-os/mos

export GOPATH := $(CURDIR)/go

export GOCACHE = /tmp/go-cache

%:
	@echo ACT $@ GO=$(GO) GOPATH=$(GOPATH) CWD=$(CURDIR)
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	@# Vendor packages must be populated already
	make mos NODEPS=1

override_dh_auto_test:
	@true
